<div class="news">
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr>
      <th scope="row" style="width: 20%"> Oct, 2023 - Oct, 2024 </th>
      <td> Visiting Ph.D. Student at Yale University, supervised by <a href='https://www.cs.yale.edu/homes/shao/'>Prof. Zhong Shao</a> </td>
      </tr>
    </table>
  </div>
</div>
